{% set class = "error-page" %}
<section class="{{ class }}">
  <div class="{{ class }}__heading">
    <h1>{{ label.0 }}</h1>
  </div>

  {{ content.field_paragraphs }}

  <nav class="{{ class }}__actions">
    <ul class="{{ class }}__actions__items">
      <li class="{{ class }}__actions__item">
        <a href="/" class="button button--custom button--special">Вернуться на главную</a>
      </li>

      <li class="{{ class }}__actions__item">
        <a href="/catalog" class="button button--custom button--special button--flat">Перейти в каталог</a>
      </li>
    </ul>
  </nav>
</section>
