{% do attributes.removeAttribute('id') %}
<div{{ attributes }}>
  {% if wrapped %}
  <div class="{{ class }}__content container">
  {% endif %}
  {{ title_prefix }}
  {% if label %}
    <p{{ title_attributes }}>{{ label }}</p>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  {% if wrapped %}
  </div>
  {% endif %}
</div>
